@font-face {
    font-family: OpenSans;
    src: url("../font/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../font/OpenSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: OpenSans;
}

body{
    background-image: url(../media/body.jpg);
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    align-items: center;
    z-index: 5;
    height: 56px;
}

.header .logo {
    margin-left: 10px;
    width: 36px;
}

.menu-icon {
    width: 40px;
    margin: 10px;
    cursor: pointer;
}

.menu-close-icon {
    font-size: 30px;
    text-align: right;
    margin: 8px 30px;
    cursor: pointer;
}

.menu {
    background-color: #ffffff;
    transition: .3s;
    position: fixed;
    top: 0;
    right: -268px;
    width: calc(100vw - 50px);
    height: 100vh;
    max-width: 260px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.menu_open {
    right: 0px;
}

.menu a {
    text-decoration: none;
    font-size: 18px;
    color: #404040;
    transition: .2s;
    display: block;
    padding: 10px 0 10px 36px;
}

.menu a:hover {
    color: #ccc;
    background-color: #333;
}

@media screen and (min-width: 700px) {
    .menu-icon, .menu-close-icon {
        display: none;
    }
    .menu {
        transition: unset;
        position: unset;
        top: unset;
        right: unset;
        width: unset;
        height: unset;
        padding: unset;
        margin: unset;
        max-width: unset;
        box-shadow: none;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
    }
    .menu a {
        display: inline-flex;
        align-items: center;
        height: 56px;
        padding: 0 10px;
        font-size: 16px;
    }
}

.footer {
    margin-top: 30px;
    font-size: 14px;
    padding: 30px;
    background-color: #222;
    color: #aaa;
}

.footer .col-md-4 {
    padding: 20px;
}

.footer b {
    font-size: 18px;
    color: tomato;
}

.footer .page-nav a {
    text-decoration: none;
    font-size: 16px;
    padding-top: 8px;
    display: block;
    color: #aaa;
}

.footer a {
    text-decoration: none;
    color: #d0d0d0;
}